doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    
   

  
    title Tienda 
    
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' ,
      integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh' , crossorigin='anonymous')

    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous")
    script( src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous")
    link(rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css")

    script( src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous")
    script( src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous")
    script( src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous")
    script( src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
      integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
      crossorigin="anonymous")
    link( rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js")
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css', integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh', crossorigin='anonymous')
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU", crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js", integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ", crossorigin="anonymous")
    link(rel="stylesheet", href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css")
	 
    link(rel="stylesheet" type="text/css" href="CSS/all.css")
    link(rel="stylesheet" type="text/css" href="CSS/all.min.css")
    link( rel="stylesheet" type="text/css" href="CSS/flexslider.css")
    link(rel="stylesheet" type="text/css" href="CSS/jquery.mmenu.all.css")
    link(rel="stylesheet" type="text/css" href="CSS/jquery.rateyo.css")
    link(rel="stylesheet" type="text/css" href="CSS/lightbox.css")
    link(rel="stylesheet" type="text/css" href="CSS/meanmenu.min.css")
    link(rel="stylesheet" type="text/css" href="CSS/style.css")
    link(rel="stylesheet" type="text/css" href="CSS/owl.theme.default.css")

    link(rel="stylesheet" type="text/css" href="CSS/inner-page-style.css")
    link(rel="stylesheet" type="text/css" href="CSS/Grafico.css")
    
    style.
       *{
      width: 900px;
      margin: 0 auto;
      }
  body
   form( name='agregarItem' action='/agregarlibro1', method='GET')
     div(id="page" class="site")
      header(class="site-header" )
       div(class="top-header" )
          div(class="container"  ) 
           
            div(class="top-header-left" background="#388e77")
              div
               h1 
                a(ForeColor="#CC66FF" ) Libros  
              div(class="top-header-block" background="#388e77")
               
              
              div( class="top-header-block")
              
            
      
            div(class="top-header-right" )
               
                 
          div 
          br
          div 

          br
  





    
 

      div 
      br
      div 
      br
      div 
      div 
      br
      div 
      br
      div 
                  
            


      div(class="row g-8")
        div(class="col")
           Label(ID="Label1" runat="server"  Class="form-control") Titulo
        div( class="col")
           input.form-control(type='text', name='txtNombre', id='txtNombre' )
      

      div(class="row g-8")
        div(class="col")
          label(ID="Label2" runat="server"  Class="form-control") Precio 
        div(class="col")
         input.form-control(type='text', name='txtPrecio',id='txtPrecio' )
      
      div(class="row g-8")
        div(class="col")
         label(ID="Label3" runat="server"  Class="form-control") Descripción
        div(class="col")
         input.form-control(type='text', name='txtdescripcion', id='txtdescripcion')
      
      div(class="row g-8")
        div(class="col")
         label(ID="Label4" runat="server"  Class="form-control") Imagen
        div(class="col")
         input.form-control(type='text', name='txtImagen',id='txtImagen')
      div 
      br
      div 

      button(type='submit'  BackColor="#388e77") Agregar Libro
